@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  font-family: "Merriweather", serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
}

/* these are the global styles for each projects so I am not going to touch them */
nav {
  background-color: #fff;
  text-transform: capitalize;
  width: 70px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: width 600ms linear;
  padding: 20px;
}

nav.active 
{
  width: 350px;
}

nav ul
 {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 0;
  transition: width 600ms linear;
}

nav.active ul 
{
  width: 100%;
}

nav li
 {
  opacity: 0;
  transition: transform 600ms linear, opacity 600ms linear;
  transform: rotateY(0deg);
}

nav.active li 
{
  opacity: 1;
  transform: rotateY(360deg);
}
nav.active li:hover{
    transform: scale(1.2);
}

nav a
 {
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  color: black;

}
nav.active a:hover{
    color: #5290f9;
  
}

.btn{
   background-color: #fff;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
    height: 30px;
    width: 30px;
   
}

.btn .line
{
   background-color:#5290f9;
    position: absolute;
    top: 10px;
    left: 5px;
    height: 2px;
    width: 20px;
    transition: transform 0.6s linear;

}

.btn .line2{
 top: auto;
 bottom: 10px;
}

nav.active .line1{
    transform: rotate(-765deg) translateY(5.5px);
}
nav.active .line2{
    transform: rotate(765deg) translateY(-5.5px);
}